<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head_fragment(scripts = ~{::script}, links = ~{::link})}">
</head>
<body>
  <div class="container">
    <div class="fixed-top bg-white">
      <div class="text-center bg-white">
        <h1>ステータス: 一覧画面</h1>
        <br>
        <div class="text-end">
          <a th:href="@{/config3/index}" class="btn btn-primary">ホームに戻る</a>
          <a th:href="@{/config3/add}" class="btn btn-primary">新規登録はこちら</a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>名称</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="config3: ${config3List}" th:object="${config3}">
          <td class="center" th:text="*{id}"></td>
          <td th:text="*{name}"></td>
          <td><a th:href="@{/config3/{id}(id=*{id})}" class="btn btn-secondary">詳細</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>